@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root{
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-blue: hsl(244, 38%, 16%);
    --violet: hsl(277, 64%, 61%);

    --Inter: 'Inter', sans-serif;
    --lexend: 'Lexend Deca', sans-serif;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background: var(--very-dark-blue);

    min-height: 100vh;
}

.stat{
    width: 90%;
    max-width: 350px;
    overflow: hidden;
    border-radius: 5px;
}
.stat .image-card{
    position: relative;
    color: var(--violet);
    overflow: hidden;
    z-index: 2; 
}

.image-card::before{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background-color: #6800b2;
}
.stat .image-card img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    opacity: 0.5;
}
.stat .text-card{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    color: white;
    background: var(--dark-blue);
}

.stat .text-card h1{
    font-size: 28px;
    font-family: var(--Inter);
    font-weight: 700;
}
.stat .text-card h1 span{
    color: var(--violet)
}

.stat .text-card p{
    color: hsla(0, 0%, 100%, 0.6);
    line-height: 1.5rem;
    width: 90%;
    margin-top: 1.5vh
}

.stat .text-card .row .box{
    margin: 0.8rem 0 auto;
}
.stat .row .stat-num{
    font-size: 22px;
    font-weight: 600;
    font-family: var(--Inter);
}
.stat .row .stat-title{
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 2px;
}

@media screen and (min-width: 1000px){
    .stat{
        max-width: 800px;
        display: flex;
        flex-direction: row-reverse;
    }
    .stat>*{
        width: 50%;
    }
    .stat .text-card .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        width: 120px;
        margin: 10px;
    }
}
